:root {
   --content-column-width: 400px;
}

body {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   margin: 0;
   border: 0;
   padding: 0;
   overflow-x: hidden;
   transition: all 1.5s;
}

#content-1 > * {
   transform-origin: center center 50%;
   transform: rotateY(-45deg);
}

.content {
   position: relative;
   width: 100%;
   height: auto;
   min-height: 50%;
   margin-bottom: 25%;

   display: grid;
   grid-template-columns: 250px var(--content-column-width) 300px;
   grid-template-rows: auto auto;
   grid-template-areas:
      ".                content-top      ."
      "content-left     content-back     content-right";

   perspective: 400px;
   transform-style: preserve-3d;
}

.content-top {
   grid-area: content-top;
}

.content-top h1 {
   text-transform: uppercase;
   text-align: justify;
   text-align-last: justify;
}

.content-left {
   grid-area: content-left;
   transform-origin: right center 0;
   transform: rotateY(45deg);
}

.content-left ul {
   text-align: right;
   list-style: none;
}

.content-back {
   grid-area: content-back;
   text-align: justify;
}

.content-right {
   grid-area: content-right;
   transform-origin: left center 0;
   transform: rotateY(-45deg);
}
