:root {
   --content-column-width: 400px;
}

body {
   position: absolute;
   top: 0;
   left: 0%;
   width: 100%;
   height: auto;
   margin: 0;
   border: 0;
   padding: 0;
   overflow-x: hidden;
   transition: all 1.5s;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12pt;
}

.three-dimensional-scene {
   position: relative;
   width: 100%;
   max-width: calc(250px + 400px + 300px);
   perspective-origin: center;
   perspective: 400px;
}

.content-passive {
   transform: translateZ(50px) translateX(200px) rotateY(-80deg);
}

.content-passive img {
   opacity: 0 !important;
   transition: all 1.5s;
}

.content img {
   opacity: 1;
   transition: all 1.5s;
}

.content-passive > * {
   z-index: 1 !important;
}

.content > * {
   z-index: 2;
}

.content-passive p,
.content-passive h1,
.content-passive h2,
.content-passive li {
   background-color: transparent !important;
}

.content > * {
   backface-visibility: hidden;
}

.content p,
.content h1,
.content h2,
.content li {
   background-color: white;
}

.content {
   position: relative;
   width: 100%;
   height: auto;
   min-height: 50%;
   margin-bottom: 10%;

   display: grid;
   grid-template-columns: 250px var(--content-column-width) 300px;
   grid-template-rows: auto auto;
   grid-template-areas:
      ".                content-top      ."
      "content-left     content-back     content-right";

   transform-origin: center;
   transform-style: preserve-3d;

   transition: all 1.2s;
}

.content-top {
   grid-area: content-top;
   transform-origin: bottom;
   transform: rotateX(-90deg);
   padding: 20px;
   padding-bottom: 75px;
}

.content-top h1 {
   text-transform: uppercase;
   text-align: justify;
   text-align-last: justify;
   font-size: 25pt;
   font-weight: normal;
}

.content-left {
   grid-area: content-left;
   transform-origin: right center;
   transform: rotateY(90deg);
   font-size: 20pt;
   padding-right: 25px;
}

.content-left ul {
   text-align: right;
   list-style: none;
}

.content-back {
   grid-area: content-back;
   text-align: justify;
   padding-left: 25px;
   padding-right: 25px;
}

.content-right {
   grid-area: content-right;
   transform-origin: left center;
   transform: rotateY(-90deg);
}

.content-right img {
   max-width: 100%;
   max-height: 100%;
}
